@import url(comment.css);
.bel_cms_input {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}
.bel_cms_input {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 0 12px;
	-webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	   -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		-ms-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		 -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
			transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}
.bel_cms_input_label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], input[type="password"] {
	border-color: #efefef;
	border-radius: 0;
	box-shadow: none !important;
	font-size: 13px;
}
input[type="text"], input[type="password"], select, textarea {
	border-color: #efefef;
	color: #a7a7a7;
}
.bel_cms_input_small {
	font-size: 85%;
}
.bel_cms_center {
	text-align: center;
	margin: 0 auto;
}

.bel_cms_button {
	border: 0 none;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 7px 10px;
	text-align: center;
	text-transform: none;
	color: #ffffff;
	-webkit-transition: all 0.3s ease 0s;
	   -moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		 -o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
	width: auto;
	text-decoration: none;
}
.bel_cms_button.red {
	background: none repeat scroll 0 0 #e0645c;
}
.bel_cms_button.red:hover {
	background: none repeat scroll 0 0 #999999;
}
.bel_cms_button.dark {
	background: none repeat scroll 0 0 #444444;
}
.bel_cms_button.dark:hover {
	background: none repeat scroll 0 0 #2db6cf;
}
.bel_cms_button.light {
	background: none repeat scroll 0 0 #999999;
}
.bel_cms_button.light:hover {
	background: none repeat scroll 0 0 #444444;
}
.bel_cms_button.green {
	background: none repeat scroll 0 0 #46b98a;
}
.bel_cms_button.green:hover {
	background: none repeat scroll 0 0 #444444;
}
.bel_cms_button.blue {
	background: none repeat scroll 0 0 #2db6cf;
}
.bel_cms_button.blue:hover {
	background: none repeat scroll 0 0 #444444;
}


#bel_cms_overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4500;
    display: none;
    top: 0;
}
body.effectGray {
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  min-height: 100%;
  min-width: 100%;
  margin: 0; padding: 0;
}
.bel_cms_msg {
	background: rgba(0, 0, 0, .5);
	color: rgba(232, 232, 232, 1);
	position: fixed;
	left: 0;
	bottom: -60px;
	width: 100%;
	border-top: 1px inset rgb(245,245,245);
	font-size: 14px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	z-index: 99999;
}
.bel_cms_msg.red {
	border-color: red;
}
.bel_cms_msg.blue {
	border-color: blue;
}
.bel_cms_msg.green {
	border-color: green;
}
.bel_cms_msg strong {
	font-weight: bold;
}
/* bel_cms_info_boxes */
.bel_cms_info_box {
	border: 5px solid #f7f7f7;
	outline: 1px solid #e2e2e2;
	margin: 15px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 35px 0 20px;
	min-height: 70px;
	position: relative;
}

.bel_cms_info_box h4 {
	margin: 0 0 5px 0;
}

.bel_cms_info_box-wrap {
	overflow: hidden;
}

.bel_cms_info_box span {
	display: block;
	width: 34px;
	text-align: center;
	margin: 5px 20px 0 0;
	border-radius: 1px;
	outline: 4px solid #f4f4f4;
	line-height: 30px;
	padding: 4px 0 0 0;
	float: left;
}

.bel_cms_info_box span:before, .info-hide {
	font-family: 'FontAwesome';
	color: #fff;
	font-size: 16px;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
}


.info-succes span { background-color: #ceed91; border: 1px solid #a3bc71; }
.info-error span { background-color: #eca199; border: 1px solid #c67971; }
.info-warning span { background-color: #e8981d; border: 1px solid #9f6a18; }
.info-info span { background-color: #99d4ec; border: 1px solid #6ca3b8; }

.info-succes span:before {
	content: "\f00c";		
}

.info-error span:before, .bel_cms_info_box .info-hide:before,
.info-warning span:before, .info-info span:before {
	content: "\f00d";
}

.info-warning span, .info-info span {
	color: #fff;
	font-size: 20px;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
}


.bel_cms_info_box .info-hide {
	display: block;
	position: absolute;
	right: 0;
	top: 15px;
	color: #d3d3d3;
	font-size: 12px;
	padding: 20px;
	text-shadow: none;
	text-align: center;
}

.info-succes-alt {
	background-color: #dcf1b4;
	border: 1px solid #bcd391;
	outline: none;
}
	.info-succes-alt .info-hide { color: #bcd391; }

.info-error-alt {
	background-color: #fbcfcb;
	border: 1px solid #c67971;
	outline: none;
}
	.info-error-alt .info-hide { color: #c67971; }

.info-info-alt {
	background-color: #b5e6f9;
	border: 1px solid #6ba4bb;
	outline: none;
}
	.info-info-alt .info-hide { color: #6ba4bb; }

.info-warning-alt {
	background-color: #fdeab8;
	border: 1px solid #d4a72c;
	outline: none;
}
	.info-warning-alt .info-hide { color: #d4a72c; }

.info-succes-alt span, .info-error-alt span, .info-info-alt span, .info-warning-alt span {
	outline-color: rgba(255,255,255,0.2);
}
/* ===== Tooltips ===== */
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; line-height: 20px;}
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }
/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
/* Uncomment for shadow */
.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }
.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }